<div class="col-lg-12 diff-view">
	<div ng-repeat="file in files">
		<div class="panel panel-default">
			<div class="panel-heading">{{file.fileName}}</div>
			<div class="panel-body">
				<div class="diff-table">
					<div ng-repeat="change in file.changes" class="diff-table-row">
						<div class="diff-table-cell">
							<div class="diff-line">
								<span class="line-number">{{change.deletion.oldLineNumber}}</span>
								<span class="line-text">{{change.deletion.lineText}}</span>
							</div>
						</div>
						<div class="diff-table-cell">
							<div class="diff-line">
								<span class="line-number">{{change.addition.oldLineNumber}}</span>
								<span class="line-text">{{change.addition.lineText}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>