<div style="margin-top: 25px;">
	<div class="col-lg-3">
		<div id="bug-list" class="list-group">
			<a href="javascript:void(0);" ng-click="setCurrentBug(bug)"
			   ng-class="{active: currentBug !== null && bug.id === currentBug.id}"
			   class="list-group-item" ng-repeat="bug in bugs">
				<div>{{bug.key}}</div>
			</a>
		</div>
		<div style="text-align: center;">
		<pagination style="margin: auto;" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"
					direction-links="false" max-size="5" class="pagination-sm" boundary-links="true"></pagination>
			</div>
	</div>

	<div class="col-lg-9">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">{{currentBug.title || 'Choose Bug'}}</div>
				<div class="panel-body">
					{{currentBug.description}}
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<ul class="list-group">
				<li class="list-group-item">
					<b>Opened:</b> {{currentBug.reportTime.epochSecond * 1000 || 'No Bug selected' | date: 'longDate'}}
				</li>
				<li class="list-group-item">
					<b>Closed:</b> {{currentBug.closeTime.epochSecond * 1000 || 'No Bug selected' | date: 'longDate'}}
				</li>
			</ul>
		</div>

		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Diff</div>
				<div class="panel-body">
					<div ng-repeat="file in changedFiles" style="word-wrap: break-word; table-layout: fixed; font-family: monospace; margin-bottom: 30px; display: table; width: 100%;">
						<span style="display: inline-block; font-weight: bold; font-size: 18px;">{{file.name}}</span>
						<div ng-repeat="edit in file.edits" style="display: table-row;">
							<div style="display: table-cell; padding-bottom: 10px; padding-right: 5%;">
								<ul>
									<li style="font-size: 12px;" ng-repeat="lineChange in edit.deletions">
										{{lineChange.lineText}}
									</li>
								</ul>
							</div>
							<div style="display: table-cell; padding-bottom: 10px; padding-left: 5%;">
								<ul>
									<li style="font-size: 12px;" ng-repeat="lineChange in edit.additions">
										{{lineChange.lineText}}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




</div>