<div ng-controller="ProjectBugsCtrl">
	<div class="col-lg-3">
		<div id="bug-list" class="list-group">
			<a href="javascript:void(0);" ng-click="setCurrentBug(bug)"
			   ng-class="{active: currentBug !== null && bug.id === currentBug.id}"
			   class="list-group-item" ng-repeat="bug in bugs">
				<div>{{bug.key}}</div>
			</a>
		</div>

		<pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"
					direction-links="false" max-size="5" class="pagination-sm" boundary-links="true"></pagination>
	</div>

	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">{{currentBug.title || 'Choose Bug'}}</div>
			<div class="panel-body">
				{{currentBug.description}}
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		<ul class="list-group">
			<li class="list-group-item">
				<b>Opened:</b> {{currentBug.reportTime.epochSecond * 1000 || 'No Bug selected' | date: 'longDate'}}
			</li>
			<li class="list-group-item">
				<b>Closed:</b> {{currentBug.closeTime.epochSecond * 1000 || 'No Bug selected' | date: 'longDate'}}
			</li>
		</ul>
	</div>
</div>