<div class="project-view-container" ng-controller="ProjectCtrl">
	<ul class="nav nav-tabs">
		<li role="presentation" ng-click="navigateTo('project.dashboard')" ng-class="{active: state === 'project.dashboard'}"><a href="javascript:void(0);">Dashboard</a></li>
		<li role="presentation" ng-click="navigateTo('project.bugs')" ng-class="{active: state === 'project.bugs'}"><a href="javascript:void(0);">Bugs</a></li>
		<li role="presentation" ng-click="navigateTo('project.classify')" ng-class="{active: state === 'project.classify'}"><a href="javascript:void(0);">Classify</a></li>
	</ul>

	<div ui-view></div>
</div>
